.bestuse-section{

width: 100%;
 background:radial-gradient(farthest-corner,rgb(255, 255, 255)10%,rgb(165, 165, 165));


}


.bestuse-title-div{
  text-align: center;
  padding: 20px;

  
}
.bestuse-section h2{
  font-size: 3rem;
  font-weight: 900;
  
  
  
  

}
.bestuse-title-div p{
  font-weight: 700;
  color: grey;
 padding: 0;

}
.bestuse-main-div{
 margin-top: 20px;
}
.bestuse-subdiv{
  padding:20px 0;
  display: grid;
  grid-auto-columns:  400px;
        grid-auto-rows: 1fr;
        gap: 1em;
        justify-content: center;
        grid-template-areas: 
        "box-1 box-2 box-3 "
        "box-4 box-5 box-6 "
      ;
   

}
.bestuse-item{
 border: solid 1px rgba(0, 0, 0, 0.239);
 border-radius: 10px;
 transition: box-shadow 0.3s ease-in-out;
 
}
.bestuse-item:hover{
box-shadow: 10px 0 20px rgba(61, 61, 61, 0.366), -10px 0 20px rgba(178, 178, 178, 0.366);
}
.bestuse-item .bestuse-items-header{
  font-size: 1.5rem;
  font-weight: 500;
  color: black;

  

}
.bestuse-item p:last-child{
  color: grey;
  font-weight: 400;
}
@media (max-width:77rem) {

  .bestuse-subdiv{
  padding: 10px;
  
  grid-auto-columns:  310px;
       justify-content: center;
        grid-template-areas: 
        "box-1 box-1 box-3"
        " box-4  box-5 box-6 "
       
      ;
}

}
@media (max-width:60rem) {

  .bestuse-subdiv{
  margin: 10px;
  grid-auto-columns:  270px;
       justify-content:center;
        grid-template-areas: 
        "box-1 box-2 "
        " box-4  box-3 "
        "box-5 box-6"
       
      ;
}

}

@media (max-width:34rem) {

.bestuse-title-div h2{
  font-size: 2rem;
  font-weight: 900;

}
.bestuse-title-div p{
  font-size: 0.9rem;
  color: grey;
}
.bestuse-subdiv{
  padding: 10px;
  
  grid-auto-columns:  1fr;
       
        grid-template-areas: 
        "box-1"
        "box-2"
        "box-3"
        "box-4"
        "box-5"
        "box-6"
      ;
   

}
}